.contact-list-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: auto;
    overflow-y: hidden;
    box-shadow: border-box;
    overflow-x: hidden;
  }
  
  .title-card {
    background-color: #232325;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
    display: flex; 
    align-items: center; 
    justify-content: left;
  }
  
  .title-card h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
  }
  
  .action-card {
    background-color: #232325;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 24px;
    margin-left: 20px;
    justify-content: left;
  }
  
    
    .meta {
      display: flex;
      gap: 1.5rem;
      font-size: 1rem;
      color: #555;
    }
    
    .aum {
      font-weight: 600;
      color: #27ae60;
    }
  
  .contact-name-container {
    display: flex;
    align-items: center; 
    margin-right: 80px;
  }
  
  
  .contact-header-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem 4rem;
    align-items: center;
    justify-items: start;
  }
  
  .header-grid-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .header-grid-label {
    font-size: 0.8rem;
    color: #aaa;
    font-weight: 500;
  }
  
  .header-grid-value {
    font-size: 0.9rem;
    color: #fff;
    font-weight: 500;
  }
  
  .person-icon {
    font-size: 2rem;
    color: #2980d9;
    margin-right: 12px;
    vertical-align: middle;
  }
  
  .category-tag {
    display: inline-block;
    padding: 0.2em 0.7em;
    border-radius: 12px;
    font-size: 0.9em;
    font-weight: 600;
    color: #fff;
    margin-right: 4px;
    text-transform: capitalize;
  }