.main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  gap: 14px;
}

.main-row {
  display: flex;
  flex-direction: row;
  gap: 14px;
  width: 100%;
  margin-bottom: 0;
}

.main-section-card {
  background-color: #232325;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  flex: 1 1 0;
  min-width: 0;
  text-align: left;
  
  align-items: center;
  justify-content: left;
}

.main-section-card-header h2 {
  margin: 0;
  font-size: 0.9rem;
  color: #fff;
}