

<div class="main-section">
  <div class="main-row">
    <div class="main-section-card">
      <div class="main-section-card-header">
        <app-contact-overview></app-contact-overview>
      </div>
    </div>
    <div class="main-section-card">
      <div class="main-section-card-header">
        <app-account-overview></app-account-overview>
      </div>
    </div>
    <div class="main-section-card">
      <div class="main-section-card-header">
        <app-opportunities-overview></app-opportunities-overview>       
      </div>
    </div>
  </div>
  
  <div class="main-row">
    <div class="main-section-card">
        <app-key-alerts></app-key-alerts>
    </div>
    <div class="main-section-card">
        <app-tasks-overview></app-tasks-overview>
    </div>
    <div class="main-section-card">
        <app-next-events></app-next-events>
    </div>
    
  </div>
</div>
