<app-portfolio-header [portfolio]="portfolio" [benchmark]="benchmark"></app-portfolio-header>

<div class="main-section">
  <div class="main-row">
    <div class="main-section-card">
      <div class="main-section-card-header">
        <app-portfolio-performance [portfolio]="portfolio" [benchmark]="benchmark"></app-portfolio-performance>
      </div>
    </div>
    <div class="main-section-card">
      <div class="main-section-card-header">
        <app-assets-breakdown [portfolio]="portfolio" [benchmark]="benchmark"></app-assets-breakdown>
      </div>
    </div>
    
  </div>
  
  <div class="main-row">
    <div class="main-section-card">
 
    
  </div>
</div>